
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #ff7b02;
  --color-variant: #e5a55d;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(255, 141, 10, 0.2);
}
::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--color-variant);
  border-radius: 0.25rem;
} */

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Playfair Display', serif;
  color: var(--color-light);
  line-height: 1.7;
}

h1, h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

p {
  color: #f4f4f4;
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}


/*==========Nave Section============*/
nav {
  height: calc(16px * 5); /*--5rem--*/
  background: var(--color-bg-3);
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* Nav class on scroll using javascript */
.window-scrolled {
  background: #111;
  border-bottom: 0.2rem solid --color-bg-3;
  box-shadow: 0 1rem 1rem rgba(245, 37, 29, 0.5);
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-----Only for tablets and phones---*/
.nav_toggle-btn {
  display: none;
}

.nav_logo {
  width: 9rem;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  color: #f4f4f4;
}

.nav-social {
  display: flex;
  gap: 1rem;
}

.nav-social a {
  width: 2rem;
  height: 2rem;
  background: #111;
  border-radius: 0.5rem;
  color: #f4f4f4;
  display: grid;
  place-items: center;
}

.nav-social a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

/*==========Header Section============*/
header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background-image: linear-gradient(to bottom right, purple 30%, blue);
  overflow: hidden;
}

.header_container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  margin-top: 8rem;
  position: relative;
}

.header_image-bg {
  background: #dd2476;
  height: 22rem;
  width: 16rem;
  position: absolute;
  transform: rotateY(38deg);
}

.header_image-lg {
  width: 29rem;
  position: relative;
  top: 1rem;
  left: .2rem;
  filter: saturate(0) brightness(0.3);
  transform: rotateY(38deg);
}

.header_image-lg img {
  border-radius: 1rem;
  height: 29rem;
}

.header_image-sm {
  width: 100%;
  height: 27rem;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  left: 1rem;
  top: 2rem;
  transition: var(--transition);
  transform: rotateY(45deg);
}

.header_left {
 perspective: 200rem;
}

.header_right h1 {
  background: linear-gradient(#f4f4f4, #ff5757, #f4f4f4, #dd2476);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.header_left:hover .header_image-sm {
  opacity: 0;
}

.header_left:hover .header_image-lg {
  filter: saturate(1) brightness(1);
  border: .5rem solid var(--color-white);
  border-radius: 1rem;
  top: 0;
  left: 0;
  box-shadow: 0 4rem 4rem rgba(245, 37, 29, 0.5);
}

.header_head {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* General empty styles */
.empty {
  height: 3.5rem;
  width: 18rem;
  background: #dd2476;
  border-radius: calc(3.5rem / 2);
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid #f4f4f4;
}

.header_tag {
  color: #f4f4f4;
}

.header_tag p {
  color: #f4f4f4;
  margin-top: 2rem;
  width: 85%;
}


/* Only show on tablets and phones */
.header_btn-md {
  display: none;
}


/* General styles for contact buttons */
.contact_btn {
  color: var(--color-white);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.header_btn {
  background: linear-gradient(-30deg, #dd2476, var(--color-variant), #dd2476);
  position: absolute;
  right: 6%;
  bottom: -6rem;
}

.header_btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-1rem);
  color: var(--color-bg-1);
}

.header_btn i {
  font-size: 3.5rem;
  position: absolute;
}

.contact_btn p {
  font-size: 1rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  animation: spinText 20s linear infinite;
}

.contact_btn p span {
  position: absolute;
  transform-origin: 0.3rem 5rem;
}

.animation_btn {
  display: none;
}

@keyframes spinText {
  to {
    transform: rotate(360deg);
  }
}


/*==========Animation Section============*/

.background_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0c192c;
  z-index: -10;
} 

.animation_3d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  transform: scale();
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0%{
    transform: perspective(1000px) rotateY(0deg) rotateY(35deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg) rotateY(35deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(220px);
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,transparent,#0001);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubbles {
  position: relative;
  display: flex;
  top: -42rem;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: blue;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate_bubbles 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: -1;
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}


@keyframes animate_bubbles {
  0% {transform: translateY(100vh) scale(0);}
  100% {transform: translateY(-8vh) scale(.4);}
}



/*==========Media Queries Section============*/
@media screen and (max-width: 1024px){
  .container {
    width: 83%;
    position: relative;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 2.5rem;
  }

  /*==========Media Queries Nav Section============*/
  .nav-social {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav-links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(245, 37, 29, 0.1);
    animation: navAnimation 600ms ease forwards;
    transform: rotateX(90dg);
    opacity: 0;
    transform-origin: top;
  }

  .nav-links li:nth-child(2){
    animation-delay: 200ms;
  }

  .nav-links li:nth-child(3){
    animation-delay: 400ms;
  }

  .nav-links li:nth-child(4){
    animation-delay: 600ms;
  }

  @keyframes navAnimation {
    to{
      transform: rotateX(0);
      opacity: 1;
    }
  }


  .nav-links li a {
    background: var(--color-bg-4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border-top: 1px solid #f4f4f4;
  }

  .nav_toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: #f4f4f4;
  }

  #nav_toggle-close {
    display: none;
  }

  /*==========Media Header Section============*/
  header {
    height: fit-content;
    padding: 10rem 0 14rem;
    display: grid;
    place-items: center;
  }

  .header_image-bg {
    top: 0rem;
    width: 10rem;
    margin-left: .3rem;
  }

  .header_image-sm  {
    left: .5rem;
    border-radius: 1rem 1rem 0 0;
    top: 1.2rem;
    height: 100%;
    display: none;
  }


  .header_container {
   grid-template-columns: 40% 50%; 
    gap: 6%;
    margin: 0;
  }

  .header_image-lg {
    filter: saturate(1) brightness(1);
    border: .5rem solid #f4f4f4;
    border-radius: 3rem 3rem 0 0;
    overflow: hidden;
   width: clamp(200px, 100%, 400px);
    top: 0;
    left: 0;
    height: 440px;
  }

  .empty {
    display: none;
  }

  .header_tag {
    margin-bottom: 1rem;
  }

  .header_right p {
    margin-top: 2rem;
  }

  .contact_btn {
    width: 8rem;
    height: 8rem;
  }
  
  .contact_btn p {
    font-size: 1rem;
    font-weight: 500;
    width: 8rem;
    height: 8rem;
  }
  
  .contact_btn p span {
    position: absolute;
    transform-origin: 0.3rem 4rem;
  }

  .header_btn {
    right: 8rem;
    bottom: -17rem;
  }

  .header_btn-md {
    background: linear-gradient(135deg, var(--color-variant), var(--color-primary));
    color: var(--color-bg-1);
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 3rem;
  }

  .header_btn-md:hover {
    color: #f4f4f4;
  }

 

  /*=====Media 3d animation Section=======*/
  .background_container {
    height: 68vh;
  } 

  .box span {
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(190px);
  }
  
  .box span img {
    left: 1rem;
    width: 68%;
  } 
}


/*=====Media Queries Section Medium Screen=======*/
@media screen and (max-width: 768px){
  .header_image-bg, .header_image-sm {
    display: none;
  }

  .header_image-lg {
    filter: saturate(1) brightness(1);
    width: 140%;
    height: 87%;
  }

  .header_container {
    gap: 15%;
  }

  .header_left {
    perspective: 200rem;
   }

   .header_right p {
    margin-top: 1rem;
  }

  .header_btn {
    right: 2rem;
    bottom: -9rem;
  }
  
  .contact_btn {
    width: 6rem;
    height: 6rem;
  }
  
  .contact_btn p {
    font-size: .8rem;
    font-weight: 400;
    width: 6rem;
    height: 6rem;
  }
  
  .contact_btn p span {
    position: absolute;
    transform-origin: 0.2rem 3rem;
  }

  header {
    height: 45rem;
  }

  
.header_left:hover .header_image-lg {
  border: .5rem solid #dd2476;
}
}


/*===Media Query For Header Section (small screen===*/
@media screen and (max-width: 600px){
  h1, h2 {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 3rem;
  }
  .header_tag {
    font-size: 1.3rem;
  }
  .header_container p {
    margin: 0 3rem;
  }
  
  header {
    padding: 0;
    padding-bottom: 6rem;
    height: 100%;
  }
  .header_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }
  .header_image-lg {
    width: 100%;
    height: auto;
    margin-top: 7rem;
    overflow: hidden;
    border-radius: 7rem 7rem 2rem 2rem;
  }

  .header_head {
    justify-content: center;
    margin-top: 2rem;
  }

  .header_tag {
    font-size: clamp(1rem, 3.5vw, 2rem);
  }

  .header_right p {
    margin-top: 1rem;
  }

  .contact_btn {
    width: 8rem;
    height: 8rem;
  }


  .header_btn {
    right: 4rem;
    bottom: auto;
    margin-top: 22rem;
  }
  
  
  .contact_btn p {
    font-size: .8rem;
    font-weight: 400;
    width: 8rem;
    height: 8rem;
    position: absolute;
  }
  
 .header_btn p span {
    position: absolute;
    transform-origin: 0.3rem 4rem;
  } 

  .animation_btn i {
    font-size: 3.5rem;
    position: absolute;
    padding: 1rem 2rem;
  }

  .animation_btn:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-1rem);
    color: var(--color-bg-1);
    cursor: pointer;
  }


/*==========Media 3d animation Section============*/
.background_container {
  height: 80vh;
}

.box {
  width: 150px;
  height: 150px;
  margin-top: -6rem;
}

.box span {
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(140px);
  z-index: 2;
} 
}

/*==Media Query Contact btn Section (small screen===*/
@media screen and (max-width: 428px) {
  .header_btn {
    margin-top: 25rem;
  }
}

@media screen and (max-width: 414px) {
  .header_btn {
    margin-top: 22rem;
  }
}

@media screen and (max-width: 360px) {
  .header_btn {
    margin-top: 19rem;
  }
}

/* END OF HEADER SECTION */


/*========ABOUT SECTION STARTS HERE==========*/
#about {
  background: #f4f4f4;
  height: 100%;
}

#about span {
  color: #dd2476;
  font-weight: 600;
}

.about_container {
  display: grid;
  grid-template-columns: 10rem 23rem 40rem; 
  gap: 1rem;
  position: relative;
}

.about_empty {
  margin-top: 3rem;
}

.about_title {
  position: absolute;
  top: -6rem;
  font-size: 2rem;
  color: #1daadf;
  z-index: 1;
}

.about_btn {
  color: #dd2476;
  align-self: end;
} 

.about_btn i {
  font-size: 3.5rem;
  position: absolute;
}

.about_btn:hover {
  transform: translateY(-1rem);
  color: var(--color-primary);
}

.about_image {
  position: relative;
}

.about_image-bg {
  width: 16rem;
  height: 24rem;
  position: absolute;
  bottom: 0;
  background: #dd2476;
} 

.about_image-lg {
  position: relative;
  left: 1rem;
  bottom: 1rem;
  filter: saturate(0) brightness(0.3);
  transition: 500ms ease;
}

.about_image-sm {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  height: 23rem;
  width: 22rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2rem 2rem 2rem rgba(245, 37, 29, 0.2);
  transform-style: preserve-3d;
  transform: rotateY(.5turn);
  /*transition: 500ms ease-in-out infinite; */
}

@keyframes rot {
  50% { transform: rotateX(.5turn); }
  100% { transform: rotateY(1turn); }
}


.about_image:hover .about_image-sm {
  opacity: 0;
}

.about_image:hover .about_image-lg {
  filter: saturate(1) brightness(1);
  box-shadow: 0 3rem 3rem rgba(245, 37, 29, 0.2);
  border: 1rem solid var(--color-bg-4);
  left: 0;
  bottom: 0;
}

.about_right {
  margin-left: 5rem;
  padding: 0 2rem;
}

.about_right p{
  margin: auto;
  color: #333;
  padding-left: 2rem;
}

.about_image-sm  {
  animation: spinText 20s linear infinite;
}

@keyframes spinimage {
  to {
    transform: rotate(360deg);
  }
}


/*====Media Queries For About Section=====*/
@media screen and (max-width: 1024px) {
   .about_container {
    grid-template-columns: 45% 65%;
    gap: 0;
   }

   .about_image-sm {
    display: none;
  }

  .about_image-bg {
    height: 22.6rem;
  }

   .about_container .about_btn {
    display: none;
   }

   .about_image-lg {
    left: 6%;
    top: 5%;
    filter: saturate(1) brightness(1);
   }


   .about_right p{
    margin: 2rem 3.5rem 3.5rem -2rem;
    font-size: clamp(1rem, 2.5vw, .5rem); 
    color: #333;
    width: 100%;
  } 
}

/*==Media Query For About Section 768px===*/
@media screen and (max-width: 768px) {
  .about_container {
    grid-template-columns: 45% 65%;
   }

  .about_title {
    top: -4rem;
  }

  .about_right {
    margin-left: 1rem;
    padding: 0 2rem;
  }

  .about_right p{
    width: 100%;
    font-size: .9rem;
    line-height: 1.3;
    margin-top: 0;
  }

  .about_image-bg {
    height: 18rem;
    width: clamp(200px, 100%, 400px);
  }
}


/*==Media Query About Section (small screen==*/
@media screen and (max-width: 600px) {
  .about_container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .about_title {
    top: -5rem;
    margin: 0 1rem;
    font-size: 1.8rem;
  }
  .about_container .about_right {
    margin: auto;
  }
  .about_container .about_left {
    margin: auto;
  }
  .about_image-lg {
    width: 20rem;
    top: -.7rem;
  }
  .about_right p {
    width: 112%;
    text-align: center;
    padding: 1rem;
  }
}
/* ABOUT SECTION ENDS HERE */

/*==========Gallery Section============*/
#gallery {
  background: #0c192c;
}
.gallery_tittle {
  color: #1daadf;
  font-size: 2rem;
  margin-top: 4rem;
}

.gallery_tittle span {
  color: #dd2476;
}

.gallery_empty {
  position: relative;
  top: 3rem;
}

.gallery_head {
  display: flex;
  justify-content: space-between;
}

.gallery_container p{
  width: 45rem;
}

.swiper-wrapper {
  margin-top: 4rem;
  height: 30rem;
}

.swiper-slide {
  border: 0.4rem solid #f4f4f4;
  border-radius: .8rem;
  height: fit-content;
  max-height: 26rem;
  overflow: hidden;
  transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: 0 3rem 3rem rgba(245, 37, 29, 0.3);
}

.swiper-slide img {
 /* filter: saturate(0); */
  transition: var(--transition);
}

.swiper-slide:hover img {
  filter: saturate(0);
}

.navigate {
  color: red;
  position: absolute;
  top: 65%;
}

.bubble-gallery {
  position: relative;
  display: flex;
  top: -35.9rem;
}

.bubble-gallery span {
  position: relative;
  width: 30px;
  height: 30px;
  background: blue;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate_bubbles 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: -1;
}

.bubble-gallery span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}


@keyframes animate_bubbles {
  0% {transform: translateY(100vh) scale(0);}
  100% {transform: translateY(-8vh) scale(.4);}
}


/*==Media Query For Gallery Section (small screen==*/
@media screen and (max-width: 600px) {
  .gallery_tittle {
    margin: 2rem 0 0;
  }

  .swiper-wrapper {
    margin-top: 2rem;
  }
}


/*==========Exhibition Section============*/
#exhibitions {
  padding-top: 3rem;
  background-image: linear-gradient(to bottom right, purple 30%, blue);
}

.exhibitions_container {
  position: relative;
}

.exhibition_tittle {
  color: #1daadf;
  font-size: 2rem;
  margin: 0;
}

.exhibition_empty {
  width: 26rem;
  position: absolute;
  right: 14rem;
  top: 0;
}

.exhibition_head {
  display: grid;
  grid-template-columns: auto 10rem;
  justify-content: space-between;
  align-items: center;
}

.exhibition_btn i {
  font-size: 3.5rem;
  position: absolute;
}

.exhibition_head > p {
  width: 45rem;
}

.exhibition_btn {
  color: var(--color-variant);
  background: #dd2476;
}

.exhibition_btn:hover {
  transform: translateY(-1rem);
}

.exhibition_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  padding-bottom: 5rem;
  gap: 1rem;
}

.exhibition_gallery article {
  border: 0.5rem solid #dd2476;
  transition: var(--transition);
  border-radius: 1rem;
}

.exhibition_gallery article:nth-child(1) {
  grid-row: 1/2;
}

.exhibition_gallery article:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
  height: 28rem;
}

.exhibition_gallery article img {
  height: 100%;
  filter: saturate(1);
  transition: var(--transition);
}

.exhibition_gallery article:hover img {
  filter: saturate(0) brightness(1);
}

.exhibition_gallery article:hover {
  box-shadow: 0 4rem 4rem rgba(245, 37, 29, 0.5);
}


/*==Media Query For Exhibitiom Section 960px (small screen==*/
@media screen and (max-width: 960px) {
  .exhibition_head {
    grid-template-columns: 20rem 16rem;
  }
  .exhibition_head > p {
    max-width: 25rem;
  }
}


/*==Media Query For Exhibitiom Section 768px (small screen==*/
@media screen and (max-width: 768px) {
  .exhibition_head {
    grid-template-columns: 26rem 14rem;
  }

  .contact_btn p span {
    transform-origin: 0.3rem 4rem;
  }

  .contact_btn p {
    font-size: 1rem;
    font-weight: 400;
    width: 8rem;
    height: 8rem;
  }

  .exhibition_btn {
    width: 8rem;
    height: 8rem;
  }
  

  .exhibition_btn i {
    margin: 1rem 2rem;
  }

  .exhibition_gallery {
    width: 100%;
  }
}


/*==Media Query For Exhibitiom Section 600px (small screen==*/
@media screen and (max-width: 600px) {
  .exhibition_head {
    grid-template-columns: 12rem 12rem;
  }

  .exhibition_tittle {
    text-align: left;
  }

  .exhibition_head > p {
    max-width: 12rem;
  }

  .exhibition_gallery {
   display: block;
  }

  .exhibition_gallery article{
    width: 85%;
    height: 23rem;
    margin: 1.5rem auto;
  }
}


/*==========Footer Section============*/
footer {
  background: var(--color-bg-4);
  background-image: linear-gradient(to bottom right, purple 30%, blue);
}

.footer-container {
  border-top: 0.5rem solid #dd2476;
  padding-top: 5rem;
}

.footer_head {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer_tittle {
  font-weight: 600;
}

.footer_btn {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid var(--color-variant);
  border-radius: 50%;
  font-size: 3rem;
  color: var(--color-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.footer_btn:hover {
  transform: translateY(-1rem);
  border-color: var(--color-primary);
}

.footer_links {
  margin: 3rem 0 0rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

/*==Media Query Footer Section (small screen===*/
@media screen and (max-width: 596px) {
  .footer_head {
    flex-direction: column;
  }

  .footer_links {
    flex-direction: column;
    font-size: 1.7rem;
    gap: 1rem;
    margin-top: 3rem;
  }

}




